{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
    <title>Finsee</title>

</head>
<body>

<div id="navbar-header" class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
</div>
{% block content %}
    <div class="container">

        <div class="page-header" id="banner"></div>
        <div id="root"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'app.js' %}">
    </script>
{% endblock scripts %}


</body>
</html>